body {
  max-width: 100%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centerColumn {
  margin: auto;
  max-width: 960px;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .centerColumn {
    width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paper {
  padding: 20px;
}

.onboardingDiv {
  width: 100%;
  margin: auto;
}

.billPaper {
  padding: 20px;
  margin-top: 10px;
}

.fullWidthImage {
  width: 100%;
}

a {
  color: darkcyan;
}

.metaMaskUrl {
  color: darkcyan;
}

.voteModalTabPaperComponent {
  margin-bottom: 5%;
}

.billInfoGrid {
  padding-top: 2%;
}
